WEATHER_API_URL=https://api.open-meteo.com/v1/forecast

DB_SERVER=localhost\SQLEXPRESS
DB_NAME=GlobalWeatherDB
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_TRUSTED_CONNECTION=yes

REQUEST_TIMEOUT=10
MAX_RETRIES=3
RETRY_DELAY=2
REQUEST_DELAY=0.1